extends base

block append head
  script(defer src="/js/bundled/index.js")

block content
  main.main 
    h1 Coin Overview: #{coin.name}
    .coin-container(class="w-full max-w-full px-6 flex flex-row")
      .asideNavigation.sticky.top-0.h-screen.w-auto.flex.flex-col.gap-3
        .overviewContainer.flex.flex-row.gap-4.p-2.items-center.font-medium.text-lg.text-black.cursor-pointer(data-target="#overview")
          .icon.bg-gray-200.rounded-lg.flex.items-center.w-9.h-8.justify-center
            i.fa-solid.fa-coins
          .info Overview

        .MarketsContainer.flex.flex-row.gap-4.p-2.items-center.font-medium.text-lg.text-black.cursor-pointer(data-target="#Exchanges")
          .icon.bg-gray-200.rounded-lg.flex.items-center.w-9.h-8.justify-center
            i.fa-solid.fa-chart-simple
          .info Markets

        .StatsContainer.flex.flex-row.gap-4.p-2.items-center.font-medium.text-lg.text-black.cursor-pointer(data-target="#marketStats")
          .icon.bg-gray-200.rounded-lg.flex.items-center.w-9.h-8.justify-center
            i.fa-solid.fa-money-check
          .info Stats

        .communitySentimentContainer.flex.flex-row.gap-4.p-2.items-center.font-medium.text-lg.text-black.cursor-pointer(data-target="#coinSentiment")
          .icon.bg-gray-200.rounded-lg.flex.items-center.w-9.h-8.justify-center
            i.fa-regular.fa-face-smile
          .info Sentiment


      .mainSection(class="p-5 flex flex-col flex-grow w-[calc(100vw-272px)] ")
        .coinStats#overview.flex.flex-col.flex-1.gap-7
          .coinHeader
            .flex.flex-col.items-start.gap-2
              .coinName(id=`${coin.name}` data-coin=`${coin.id}`).flex.flex-row.items-center
                img.w-10.m-1(src=coin.thumb alt=coin.name)
                h2.font-semibold.text-2xl.text-black=`${coin.name}`
                span.font-semibold.text-xl.text-gray-400.ml-1=`${coin.symbol.toUpperCase()}`
              .coinMarketValue.flex.flex-row.gap-2.items-center
                span.font-semibold.text-3xl.text-black=`R$${coin.current_price}`
                span.changeValue.font-semibold.text-lg.text-gray-400=`${coin.price_change_percentage_24h_in_currency.toFixed(2)}%`

            .flex.gap-2
              button.bg-gray-200.rounded-md.py-1.px-2
                i.icon.fa-regular.fa-star.text-sm
              button.bg-gray-200.rounded-md.py-1.px-2
                i.icon.fa-solid.fa-link.text-sm

          .chartAndConvertContainer#chartContainer(class="max-h-1/3 flex flex-row justify-center gap-4 ")
            .charContainer(class="w-3/4")
              .header
                h2.font-semibold.text-2xl.font-medium.text-black.mb-4= `${coin.name} Price Chart`


              .charCanvas-info(class="w-full border-2 rounded-xl")
                .daysToSearchFor.flex.flex-row.self-end.w-fit.py-2.px-2
                  nav.nav.flex.flex-row.bg-gray-200.rounded-lg.p-1
                    button.optionChartDays(class=" px-2 py-1 text-black hover:bg-white rounded-lg" data-days="1") 24h 
                    button.optionChartDays(class=" px-2 py-1 text-black hover:bg-white rounded-lg" data-days="7") 7d
                    button.optionChartDays(class=" px-2 py-1 text-black hover:bg-white rounded-lg" data-days="30") 1m
                    button.optionChartDays(class=" px-2 py-1 text-black hover:bg-white rounded-lg" data-days="90") 3m
                    button.optionChartDays(class=" px-2 py-1 text-black hover:bg-white rounded-lg" data-days="365") 1y
                    .dropDownContainer.flex
                      button.saveAsBtnDropdown(class=" px-2 py-1 text-black hover:bg-white rounded-lg")
                        i.fa-solid.fa-circle-down
                      .downloadsDropDownOptions(class="hidden px-2 py-2 flex-col absolute  shadow-xl drop-shadow-xl rounded-lg bg-gray-200 ")  
                        button.saveAsPdf(class=" px-2 py-1 text-black hover:bg-white rounded-lg" ) Download as PDF
                        button.saveAsPng(class=" px-2 py-1 text-black hover:bg-white rounded-lg" ) Download as PNG
                        button.saveAsJpeg(class=" px-2 py-1 text-black hover:bg-white rounded-lg" ) Download as JPEG


                canvas.chartContainer.items-center(id=`chart-${coinName}`)

            .coinValueInCurrency(class="border-2 w-1/3 rounded-lg flex flex-col p-3 gap-16")
              .header
                h2.font-semibold.text-2xl.font-medium.text-black Coin convert


              .quantityOfCoin.flex.flex-col.rounded-lg.p-4.gap-4
                .currency-selector.flex.flex-row.items-center.rounded-lg.p-4.border-2.gap-4
                  .icon-container.flex.items-center
                    span#cryptoIcon.hidden
                    span#flagIcon.hidden
                  select#currencySelect.p-2.border.rounded.w-fit.border-none
                    each currency in currencies
                      option(value=`${currency}` selected=(currency === "brl"))= currency.toUpperCase()
                    #iconDisplay.flex.items-center.ml-2
                      span#cryptoIcon
                      span#flagIcon
                  .body-info.flex.flex-col.items-end
                    span#coinPriceValue= coin.current_price
                  input(type="hidden", id="coinPriceUsd", value=coin.current_price_usd)

                .valueInCurrency.flex.flex-row.items-center.rounded-lg.p-4.border-2.gap-4
                  img.w-6.h-6.m-1(src=coin.thumb alt=coin.name) 
                  .body-info.flex.flex-col.items-end
                    input(type="text" value="1" id="coinQuantity")


          .Exchanges#Exchanges(class="flex flex-col")
            .header
              h2.font-semibold.text-2xl.font-medium.text-black.mb-4= `${coin.name} Markets`

            .body-info(class="w-full p-5 border-2 rounded-lg ") 
              div(class="w-full overflow-x-auto")
                table(class="w-full min-w-max") 
                  thead.bg-gray-50
                    tr
                      th.px-4.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider(data-sort="index")
                        .container.flex.flex-row.items-center.justify-center
                          span.icon
                          p.textHeader #
                      th.px-4.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider(data-sort="name")
                        .container.flex.flex-row.items-center.justify-center
                          span.icon
                          p.textHeader Exchange
                      th.px-4.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider(data-sort="price")
                        .container.flex.flex-row.items-center.justify-center
                          span.icon
                          p.textHeader Pair
                      th.px-4.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider.cursor-pointer(data-sort="1h")
                        .container.flex.flex-row.items-center.justify-center
                          span.icon
                          p.textHeader Price
                      th.px-4.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider(data-sort="7d")
                        .container.flex.flex-row.items-center.justify-center
                          span.icon
                          p.textHeader Move up
                      th.px-4.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider(data-sort="move-up")
                        .container.flex.flex-row.items-center.justify-center
                          span.icon
                          p.textHeader Move down
                      th.px-4.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider(data-sort="move-down")
                        .container.flex.flex-row.items-center.justify-center
                          span.icon
                          p.textHeader Volume
                      th.px-4.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider(data-sort="marketCap")
                        .container.flex.flex-row.items-center.justify-center
                          span.icon
                          p.textHeader Bid ask spread             
                      th.px-4.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider(data-sort="24h")
                        .container.flex.flex-row.items-center.justify-center
                          span.icon
                          p.textHeader Trust score
                      th.px-4.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider(data-sort="7d")
                        .container.flex.flex-row.items-center.justify-center
                          span.icon
                          p.textHeader Updated In

                  tbody.bg-white.divide-y.divide-gray-200
                    each coinMarket, index in coinTickerData
                      tr(class="hover:bg-gray-100 transition")
                        td.px-4.whitespace-nowrap
                          p(class="text-gray-700 dark:text-moon-100 font-bold text-sm px-1 leading-5")= `${index + 1}`


                        td.px-1.py-1.whitespace-normal
                          .flex.items-center.justify-start
                            img.coin-image.w-6.h-6.object-cover.rounded-full(src=coinMarket.logo alt=coinMarket.marketName)
                            .flex.ml-4
                              p(class="text-gray-700 dark:text-moon-100 font-bold text-sm px-1 lea1ing-5")= coinMarket.marketName

                        td.px-4.whitespace-nowrap.text-center.text-sm.text-blue-600.font-medium
                          a.text-sky-400(href=`${coinMarket.tradeUrl}`, target="_blank")= `${coinMarket.base}/${coinMarket.target}`
                        td.px-4.whitespace-nowrap.text-center.text-sm.text-gray-500.font-medium= `R$ ${coinMarket.lastPrice}`

                        td.px-4.whitespace-nowrap.text-center.text-sm.text-gray-500.font-medium= `R$ ${coinMarket.cost_to_move_up_usd}`
                        td.px-4.whitespace-nowrap.text-center.text-sm.text-gray-500.font-medium= `R$ ${coinMarket.cost_to_move_down_usd}`
                        td.px-4.whitespace-nowrap.text-center.text-sm.text-gray-500.font-medium= `${coinMarket.volume}`
                        td.px-4.whitespace-nowrap.text-center.text-sm.text-gray-500.font-medium= `${coinMarket.bidAskSpreadPercentage}`
                        td.px-4.whitespace-nowrap.text-center.text-sm.text-gray-500.font-medium
                          span(class=`w-4 h-4 rounded-full bg-${coinMarket.trustScore}-500 inline-block`)
                        td.px-4.whitespace-nowrap.text-center.text-sm.text-gray-500.font-medium= `${coinMarket.lastFetchAt}`



            .infoPagination(class="flex flex-row justify-between items-center w-full")
              span.px-6.py-4.whitespace-nowrap.text-sm.text-gray-500
                = `Showing ${(currentPage - 1) * itemsPerPage + 1} to ${Math.min(currentPage * itemsPerPage, totalItems)} of ${totalItems} exchanges`

              nav(class="inline-flex items-center space-x-1 rounded-lg")
                ul.pagination(class="flex flex-row gap-1")

                  // Show pages dynamically if there are more than 1 page
                  if currentPage > 2
                    li= '...'

                  // Previous page (if not the first page)
                  if currentPage > 1
                    li
                      a(class="px-4 py-2 text-zinc-950 rounded-lg hover:bg-gray-100" href=`/coin/${coinName}?page=${currentPage - 1}&per_page=${itemsPerPage}`)= currentPage - 1

                  // Current page
                  li
                    span(class="px-4 py-2 bg-gray-200 rounded-lg text-zinc-950")= currentPage

                  // Next page (if not the last page)
                  if currentPage < totalPages
                    li
                      a(class="px-4 py-2 text-zinc-950 rounded-lg hover:bg-gray-100" href=`/coin/${coinName}?page=${currentPage + 1}&per_page=${itemsPerPage}`)= currentPage + 1

                  if currentPage < totalPages - 1
                    li= '...'

                  // Last page link
                  li
                    a(class="px-4 py-2 text-zinc-950 rounded-lg hover:bg-gray-100" href=`/coin/${coinName}?page=${totalPages}&per_page=${itemsPerPage}`)= totalPages


              .dropdown(class="flex relative items-center")
                button.dropdownButton(class="block px-1 ") Show rows
                .coinsToShow(class="show px-1 py-1 m-1 rounded-lg bg-gray-100 cursor-pointer")
                  span.rowValue=totalRows
                  i.fa-solid.fa-chevron-down(class="ml-2") 
                .dropdownOptions(class= "dropdownOptions hidden px-2 py-2 top-full flex-col absolute  left-20 shadow-xl drop-shadow-xl rounded-lg bg-gray-200 ")
                  button.option(class=" px-4 py-2 hover:bg-gray-100 rounded-lg") 5 
                  button.option(class=" px-4 py-2 hover:bg-gray-100 rounded-lg") 10
                  button.option(class=" px-4 py-2 hover:bg-gray-100 rounded-lg") 20

          .aboutContainer#aboutContainer.flex.flex-col.p-3
            .header
              h2.font-semibold.text-2xl.font-medium.text-black.mb-4= `About the ${coin.name}`
            .bodyInfo.border-2.rounded-lg.p-4
              h3.text-lg.text-black.font-semibold.mb-4= `What is the ${coin.name}`
              .descriptionContainer.text-gray-400-font-normal.text-base
                != coin.descriptionEn



          .coinAdditionalInfo
            .coinLinks
              .header.flex
                h2.font-semibold.text-2xl.font-medium.text-black= `${coin.name} Resources`
              .bodyContent.flex.flex-row.gap-2.mt-2
                .coinLinks(class=" bg-gray-200 rounded-md px-2 py-1 flex flex-row gap-1 cursor-pointer")
                  i.icon.fa-solid.fa-globe.text-base
                  a.font-medium.text-black.text-xs.gap-1.flex.items-center( href=`${coin.homepage[0]}`) website
                .coinLinks(class=" bg-gray-200 rounded-md px-2 py-1 flex flex-row gap-1 cursor-pointer")
                  i.icon.fa-solid.fa-file.text-base
                  a.font-medium.text-gray-700.text-xs.gap-1.flex.items-center(href=`${coin.whitepaper}`) whitepaper
                .coinLinks(class=" bg-gray-200 rounded-md px-2 py-1 flex flex-row gap-1 cursor-pointer")
                  i.icon.fa-brands.fa-github.text-base
                  a.font-medium.text-gray-700.text-xs.gap-1.flex.items-center(href=`${coin.github[0]}`) github


          .coinInfo#marketStats.flex.flex-col.gap-4
          h2.font-semibold.text-2xl.font-medium.text-black Market Stats
          .coinBody.grid.grid-cols-3.gap-4.border-2.rounded-xl.p-8

            .coinMarketCap.w-80.h-16.flex
              .coinInfo.flex.flex-col.justify-between
                span.font-medium.text-lg.text-gray-400=`Market Capitalization`
                  i.information.fa-solid.fa-circle-info.ml-1
                .coinPrice
                  span.font-semibold.text-lg.text-black.ml-1=`${coin.market_cap.replace(/^(\d)(\d{2})/, '$1,$2').slice(0,4)}T`
                  span.changeValue.px-1.font-normal.text-sm.text-gray-400=`${coin.price_change_percentage_24h_in_currency.toFixed(2)}%`




            .coinCirculatingSupply.w-80.h-16.flex
              .coinInfo.flex.flex-col.justify-between
                span.font-medium.text-lg.text-gray-400=`Circulating supply`
                .coinPrice
                  span.font-semibold.text-lg.text-black.ml-1=`${coin.circulating_supply.replace(/^(\d)(\d{2})/, '$1,$2').slice(0,5)} ${coin.symbol.toUpperCase()}`
                  span.font-semibold.text-base.text-black.ml-1.py-0.px-1=`${coin.total}%`


            .coinMarketVolume.w-80.h-16.flex
              .coinInfo.flex.flex-col.justify-between
                span.font-medium.text-lg.text-gray-400=`Volume (24h)`
                span.font-semibold.text-lg.text-black.ml-1=`R$ ${coin.total_volume.replace(/^(\d)(\d{2})/, '$1,$2').slice(0,4)}B`

            .coinTotalSupply.w-80.h-16.flex
              .coinInfo.flex.flex-col.justify-between
                span.font-medium.text-lg.text-gray-400=`Total supply`
                span.font-semibold.text-lg.text-black.ml-1=`${coin.total_supply.replace(/^(\d)(\d{2})/, '$1,$2').slice(0,2)}M ${coin.symbol.toUpperCase()}`    


            .coinMaxSupply.w-80.h-16.flex
              .coinInfo.flex.flex-col.justify-between
                span.font-medium.text-lg.text-gray-400=`Max supply`
                span.font-semibold.text-lg.text-black.ml-1=`${coin.max_supply.replace(/^(\d)(\d{2})/, '$1,$2').slice(0,2)}M ${coin.symbol.toUpperCase()}`    

            .coinLowValue.w-80.h-16.flex
              .coinInfo.flex.flex-col.justify-between
                span.font-medium.text-lg.text-gray-400=`Low (24h)`
                span.font-semibold.text-lg.text-black=`R$ ${coin.low_24h}`



            .coinHighValue.w-80.h-16.flex
              .coinInfo.flex.flex-col.justify-between
                span.font-medium.text-lg.text-gray-400=`High (24h)`
                span.font-semibold.text-lg.text-black=`R$ ${coin.high_24h}`



            .coinAllTime.flex.flex-col.justify-between.w-80.h-16
              .coin-header-info
                span.font-medium.text-lg.text-gray-400=`All time high`
                span.font-semibold.text-base.text-black.ml-1=` ${coin.ath_date}`
              .coinInfo.flex.flex-row
                span.font-semibold.text-lg.text-black.ml-1=`R$ ${coin.ath}`    
                span.changeValue.px-1.font-semibold.text-base.text-black.ml-1=`${coin.ath_change_percentage.toFixed(2)} %`



            .coinAllTime.flex.flex-col.justify-between.w-80.h-16
              .coin-header-info
                span.font-medium.text-lg.text-gray-400=`All time low`
                span.font-semibold.text-bae.text-black.ml-1=` ${coin.atl_date}`


              .coinInfo.flex.flex-row
                span.font-semibold.text-lg.text-black.ml-1=`R$ ${coin.atl}`    
                span.changeValue.px-1.font-semibold.text-base.text-black.ml-1=`${coin.atl_change_percentage.toFixed(2)} %`




          .coinMessage.flex.flex-col.bg-gray-600.hidden.max-w-xs.w-xs.absolute.p-2.rounded-xl.shadow-lg
            p.text-sm.mx-0.my-1 market capitalization is the total value of all the coins that have been mined. 
            p.text-sm.mx-0.my-1 It’s calculated by multiplying the number of coins in circulation by the current market price of a single coin

          .sentimentAboutTheCoin#coinSentiment
            .header.flex
              h2.font-semibold.text-2xl.font-medium.text-black Community Sentiment

            .coinSentiments.flex.flex-row.justify-center.items-center.mt-4.p-9.border-2.rounded-lg
              .sentimentUp
                i.fa-solid.fa-arrow-trend-up.text-green-500
                span.sentimentUp.px-1.text-green-500=`${coin.sentiment_votes_up_percentage}%`

              .sentimentBar(class="flex flex-row grow w-4/12 px-1")
                span.profit-bar.bg-green-500.h-2.rounded-md.h-2
                span.lost-bar.bg-red-500.h-2.rounded-md.h-2

              .sentimentDown
                i.fa-solid.fa-arrow-trend-down.text-red-500
                span.sentimentDown.px-1.text-red-500=`${coin.sentiment_votes_down_percentage}%`


