extends base

block append head
  script(defer src="/js/bundled/index.js")



block content

  main.mainOverview(class="flex flex-col w-full self-center pt-16 mt-8 ")
    .introduction.flex.flex-col.items-center.bg-gradient-to-r.from-purple-400.to-blue-500.p-6.rounded-lg.shadow-md.mb-8.mx-4.gap-2
      h2.font-semibold.text-4xl.text-white.mb-2 Crypto List
      p.text-lg.text-white Leading the way with top trends, market insights, and up-to-date analytics.
      p.text-lg.text-white=`The global cryptocurrency market cap stands at ${globalData.totalMarketCap}, with a ${globalData.marketCapChangePercent.toFixed(2)}% change in the last 24 hours. Total trading volume is ${globalData.totalVolume}, and Bitcoin holds ${globalData.marketDominanceBtc.toFixed(2)}% market dominance.`
      p(class= "mt-4 px-4 py-2 bg-white text-blue-500 font-bold rounded-lg shadow-md  ") Explore the market bellow   



    .overviewAdditionalContainer.flex.flex-row.p-3.justify-center.gap-5


      .Trending.flex.flex-row.p-3.shadow-lg.rounded-xl-border-2.rounded-xl.h-48.w-96
        .coin.flex.flex-col.p-3.w-full.justify-between
          .header
            h2.font-semibold.text-xl.font-medium.text-black.mb-4 Trending 🔥

          each coin of fetchTrendingData
            .coinContainerData.flex.flex-row.justify-between
              .mainInfo.flex.flex-row.items-center
                .image
                  img.coin-image.w-6.h-6.object-cover.rounded-full(src=coin.thumb alt=coin.name)
                .name.ml-1.flex.flex-row
                  p(class="text-gray-700 font-bold text-sm px-1")= coin.name
                  p(class="text-gray-400 font-semibold text-sm px-1")= coin.symbol

              .values.flex.flex-row.items-center
                .percent
                  p(class="changeValue text-gray-700 dark:text-moon-100 font-bold text-sm px-1")= `${coin.priceChangePercentage24h.toFixed(2)}%`

      .volumeCapitalization.flex.flex-row.p-3.shadow-lg.rounded-xl-border-2.rounded-xl.h-48.w-96
        .coin.flex.flex-col.p-3.w-full.justify-between
          .header
            h2.font-semibold.text-xl.font-medium.text-black.mb-4 Market Cap&Vol 🔥
            .coinContainerData.flex.flex-row.justify-between
              .mainInfo.flex.flex-row.items-center
                .name.ml-1.flex.flex-col.gap-14
                  p(class="text-gray-700 font-bold text-md") Market cap
                  p(class="text-gray-700 font-bold text-md") Volume 24h

              .values.flex.flex-row.items-center
                .percent.flex.flex-col.gap-14
                  p(class="text-gray-700 dark:text-moon-100 font-bold text-sm px-1")= `$ ${globalData.totalMarketCap}`
                  p(class="text-gray-700 dark:text-moon-100 font-bold text-sm px-1")= `$ ${globalData.totalVolume}`

      .fearGreed.flex.flex-row.p-3.shadow-lg.rounded-xl-border-2.rounded-xl.h-48.w-96
        .coin.flex.flex-col.p-3.w-full.justify-between
          .header
            h2.font-semibold.text-xl.font-medium.text-black.mb-1 Fear & Greed Index 🔥
            .coinContainerData.flex.flex-row.justify-between
              div.fear-greed-index.flex.flex-col.place-content-center.w-full.items-center
                // Set the viewBox to scale the SVG
                svg(width="210" height="70" viewBox="0 0 300 135" xmlns="http://www.w3.org/2000/svg")
                  // Group for the doughnut chart, centered at the middle
                  g(transform="translate(150, 135)")
                    // Arc segments
                    g.arc
                      // Red segment
                      path(d="M-107.94971126755703,-3.2954267175996574A108,108,0,0,1,-78.66219144333746,-74.00175428550142L-55.736679624136755,-51.07624246630069A75.6,75.6,0,0,0,-75.5281415284987,-3.2954267175996588Z" fill="#f02934")
                      // Orange segment
                      path(d="M-74.00175428550139,-78.66219144333748A108,108,0,0,1,-3.2954267175996614,-107.94971126755703L-3.295426717599662,-75.5281415284987A75.6,75.6,0,0,0,-51.07624246630068,-55.73667962413676Z" fill="#f07d29")
                      // Green segment
                      path(d="M3.295426717599675,-107.94971126755703A108,108,0,0,1,74.00175428550139,-78.66219144333749L51.07624246630068,-55.73667962413677A75.6,75.6,0,0,0,3.295426717599671,-75.5281415284987Z" fill="#9acd7a")
                      // Dark Green segment
                      path(d="M78.66219144333749,-74.00175428550138A108,108,0,0,1,107.94971126755703,-3.295426717599666L75.5281415284987,-3.2954267175996654A75.6,75.6,0,0,0,55.73667962413677,-51.07624246630066Z" fill="#34b349")

                    // Needle
                    g.speedometer-needle
                      path(d="M -5.904645882113434 1.494831558022378 L -40.66209809216411 -47.350736468831855 L 5.904645882113432 -9.594831558022381" fill="#000")
                      circle(cx="0" cy="-4.05" r="8.1" fill="#464a4f")

                span.fear-greed-value.font-bold.text-gray-700(data-value=`${fearGreedValue[0].value}`)= `${fearGreedValue[0].classification}`
                span.fear-greed-classification.text-md.text-gray-700=`Now: ${fearGreedValue[0].value}`



    .coin-container(class="flex flex-col w-full  p-4")
      .table-container(class=" w-full p-4 border-2 rounded-xl")
        table.min-w-full.divide-y.divide-gray-200
          thead
            tr
              th.px-8.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider.cursor-pointer(data-sort="index") 
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader #
              th.px-8.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider.cursor-pointer(data-sort="name") 
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader Name
              th.px-8.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider.cursor-pointer(data-sort="price") 
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader Price
              th.px-8.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider.cursor-pointer(data-sort="1h") 
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader 1h
              th.px-8.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider.cursor-pointer(data-sort="24h") 
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader 24h
              th.px-8.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider.cursor-pointer(data-sort="7d") 
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader 7d
              th.px-8.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider.cursor-pointer(data-sort="volume") 
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader 24h volume
              th.px-8.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider.cursor-pointer(data-sort="marketCap") 
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader Market cap
              th.px-8.py-2.text-center.text-xs.font-bold.text-gray-700.tracking-wider.cursor-pointer(data-sort="last7Days") 
                .container.flex.flex-row.items-center.justify-center
                  span.icon.inline-block
                  p.textHeader Last 7 days

          tbody.bg-white.divide-y.divide-gray-200

            each coin, index in coins
              tr(data-href=`/coin/${coin.id}`, class="cursor-pointer hover:bg-gray-100 transition")
                td.px-8.whitespace-nowrap
                  p(class="text-gray-700 dark:text-moon-100 font-bold text-sm px-1 lea1ing-5")= `${index + 1}`

                td.px-1.py-1.whitespace-nowrap
                  .flex.items-center
                    img.coin-image.w-6.h-6.object-cover.rounded-full(src=coin.image alt=coin.name)
                    .flex.ml-4
                      p(class="text-gray-700 dark:text-moon-100 font-bold text-sm px-1 lea1ing-5")= coin.name
                      p(class="text-gray-400  font-semibold text-sm leading-5")= `${coin.symbol.toUpperCase()}`

                td.px-8.whitespace-nowrap.text-sm.text-gray-500.font-medium= `$${coin.current_price.toLocaleString()}`
                td.changeValue.px-8.whitespace-nowrap.text-sm.text-gray-500.font-medium= `${coin.price_change_percentage_1h_in_currency.toFixed(2)}%`
                td.changeValue.px-8.whitespace-nowrap.text-sm.text-gray-500.font-medium= `${coin.price_change_percentage_24h_in_currency.toFixed(2)}%`
                td.changeValue.px-8.whitespace-nowrap.text-sm.text-gray-500.font-medium= `${coin.price_change_percentage_7d_in_currency.toFixed(2)}%`
                td.px-8.whitespace-nowrap.text-sm.text-gray-500.font-medium= `$${coin.circulating_supply.toLocaleString()}`
                td.px-8.whitespace-nowrap.text-sm.text-gray-500.font-medium= `$${coin.market_cap.toLocaleString()}`
                td.px-8.whitespace-nowrap.text-sm.text-gray-500.font-medium.w-48.h-20
                  canvas.chartContainer(id=`chart-${coin.id}`)



      .infoPagination(class=" flex flex-row justify-between items-center")

        span.px-6.py-4.whitespace-nowrap.text-sm.text-gray-500= `Showing ${(currentPage -1 ) * itemsPerPage} to ${Math.min(currentPage * itemsPerPage, allCoin.length)} of ${allCoin.length} coins`

        nav(class="  inline-flex items-center space-x-1 rounded-lg")
          ul.pagination(class= "flex flex-row gap-1")
            li
              a( class="px-4 py-2 text-zinc-950 rounded-lg hover:bg-gray-100" href=`/overview?page=1&per_page=${itemsPerPage}`)= `1`

            if currentPage > 1
              li
                a( class="px-4 py-2 text-zinc-950 rounded-lg hover:bg-gray-100" href=`/overview?page=${currentPage}&per_page=${itemsPerPage}`)= `${currentPage}`


            if currentPage < totalPages
              li
                a(class="px-4 py-2 text-zinc-950 rounded-lg hover:bg-gray-100" href=`/overview?page=${currentPage + 1}&per_page=${itemsPerPage}`)= `${currentPage + 1}`
                a(class="px-4 py-2 text-zinc-950 rounded-lg hover:bg-gray-100" href=`/overview?page=${currentPage + 2}&per_page=${itemsPerPage}`)= `${currentPage + 2}`


            li= `...`
            li
              a(class="px-4 py-2 text-zinc-950 rounded-lg" href=`/overview?page=${totalPages}&per_page=${itemsPerPage}`)= `${totalPages}`



        .dropdown(class="flex relative items-center")
          button.dropdownButton(class="block px-1 ") Show rows
          .coinsToShow(class="show px-1 py-1 m-1 rounded-lg bg-gray-100 cursor-pointer")
            span.rowValue=totalRows
            i.fa-solid.fa-chevron-down(class="ml-2") 
          .dropdownOptions(class= "dropdownOptions hidden px-2 py-2 top-full flex-col absolute  left-20 shadow-xl drop-shadow-xl rounded-lg bg-gray-200 ")
            button.option(class=" px-4 py-2 hover:bg-gray-100 rounded-lg") 5 
            button.option(class=" px-4 py-2 hover:bg-gray-100 rounded-lg") 10
            button.option(class=" px-4 py-2 hover:bg-gray-100 rounded-lg") 20





      .newsAboutAllCoins(class="flex flex-col")
        .header.flex
          h2.font-semibold.text-2xl.font-medium.text-black= `Latest News about Crypto`

        .coinNews(class="flex flex-col border-2 rounded-md mt-4 gap-2 p-4")
          .news(class="flex flex-row")
            each news in newsDataAboutCoin
              div(class="flex flex-col lg:flex-col lg:items-center bg-white shadow-md p-4 rounded-lg  flex-grow mb-4")
                div(class="lg:w-64 w-full h-48 lg:h-40 overflow-hidden rounded-lg")
                  picture
                    img(class="w-full h-full rounded-md object-cover" src=`${news.imageUrl}` loading="lazy" alt="Image news...")
                a(href=`${news.url}`)
                  div(class="flex flex-col justify-between mb-auto mt-4")
                    h4(class="text-lg font-bold text-gray-900 hover:text-blue-500")= news.title

                div(class="flex self-start mt-4")
                  div(class="flex self-start text-gray-500 hover:text-gray-700 cursor-pointer")
                    div(class="flex flex-col  text-gray-500 text-sm")
                      a(href=`${news.url}` target="_blank" class="hover:text-blue-500")
                        p(class="hover:underline")= news.source
                      p(class="mr-2")= news.publishedAt


          .ReadMore
            a(href="/#" class="flex flex-row items-center justify-center bg-blue-500 text-white font-bold rounded-lg shadow-md p-2 mt-4") Read More News
