extends base

block append head
  script(defer src="/js/bundled/index.js")



block content

  .container(class="flex flex-col w-full")

    main.main(class="flex flex-col mx-auto ")

      h1(class="text-2xl font-bold mb-4")= `Top ${itemsPerPage} coins in the market`

      .coin-container(class="flex flex-col  p-4")
        h2.text-xl.font-semibold.mt-8.mb-4 CryptoCurrency list
        table.min-w-full.divide-y.divide-gray-200
          thead.bg-gray-50
            tr

              th.px-8.py-2.text-left.text-xs.font-bold.text-gray-700.tracking-wider #
              th.px-8.py-2.text-left.text-xs.font-bold.text-gray-700.tracking-wider Name
              th.px-8.py-2.text-left.text-xs.font-bold.text-gray-700.tracking-wider Price 
              th.px-8.py-2.text-left.text-xs.font-bold.text-gray-700.tracking-wider 1h
              th.px-8.py-2.text-left.text-xs.font-bold.text-gray-700.tracking-wider 24h
              th.px-8.py-2.text-left.text-xs.font-bold.text-gray-700.tracking-wider 7d
              th.px-8.py-2.text-left.text-xs.font-bold.text-gray-700.tracking-wider 24h volume
              th.px-8.py-2.text-left.text-xs.font-bold.text-gray-700.tracking-wider Market cap
              th.px-8.py-2.text-left.text-xs.font-bold.text-gray-700.tracking-wider Last 7 days
          tbody.bg-white.divide-y.divide-gray-200

            each coin, index in coins
              tr(data-href=`/coin/${coin.id}/usd`, class="cursor-pointer hover:bg-gray-100 transition")
                td.px-8.whitespace-nowrap
                  p(class="text-gray-700 dark:text-moon-100 font-bold text-sm px-1 lea1ing-5")= `${index + 1}`

                td.px-1.py-1.whitespace-nowrap
                  .flex.items-center
                    img.coin-image.w-6.h-6.object-cover.rounded-full(src=coin.image alt=coin.name)
                    .flex.ml-4
                      p(class="text-gray-700 dark:text-moon-100 font-bold text-sm px-1 lea1ing-5")= coin.name
                      p(class="text-gray-400  font-semibold text-sm leading-5")= `${coin.symbol.toUpperCase()}`

                td.px-8.whitespace-nowrap.text-sm.text-gray-500.font-medium= `$${coin.current_price.toLocaleString()}`
                td.changeValue.px-8.whitespace-nowrap.text-sm.text-gray-500.font-medium= `${coin.price_change_percentage_1h_in_currency.toFixed(2)}%`
                td.changeValue.px-8.whitespace-nowrap.text-sm.text-gray-500.font-medium= `${coin.price_change_percentage_24h_in_currency.toFixed(2)}%`
                td.changeValue.px-8.whitespace-nowrap.text-sm.text-gray-500.font-medium= `${coin.price_change_percentage_7d_in_currency.toFixed(2)}%`
                td.px-8.whitespace-nowrap.text-sm.text-gray-500.font-medium= `$${coin.circulating_supply.toLocaleString()}`
                td.px-8.whitespace-nowrap.text-sm.text-gray-500.font-medium= `$${coin.market_cap.toLocaleString()}`
                td.px-8.whitespace-nowrap.text-sm.text-gray-500.font-medium.w-48.h-20
                  canvas.chartContainer(id=`chart-${coin.id}`)



        .infoPagination(class=" flex flex-row justify-between items-center")

          span.px-6.py-4.whitespace-nowrap.text-sm.text-gray-500= `Showing ${(currentPage - 1) * itemsPerPage} to ${Math.min(currentPage * itemsPerPage, allCoin.length)} of ${allCoin.length} coins`

          nav(class="  inline-flex items-center space-x-1 rounded-lg")
            ul.pagination(class= "flex flex-row gap-1")
              li
                a( class="px-4 py-2 text-zinc-950 rounded-lg hover:bg-gray-100" href=`/overview?page=1&per_page=${itemsPerPage}`)= `1`

              if currentPage > 1
                li
                  a( class="px-4 py-2 text-zinc-950 rounded-lg hover:bg-gray-100" href=`/overview?page=${currentPage}&per_page=${itemsPerPage}`)= `${currentPage}`


              if currentPage < totalPages
                li
                  a(class="px-4 py-2 text-zinc-950 rounded-lg hover:bg-gray-100" href=`/overview?page=${currentPage + 1}&per_page=${itemsPerPage}`)= `${currentPage + 1}`
                  a(class="px-4 py-2 text-zinc-950 rounded-lg hover:bg-gray-100" href=`/overview?page=${currentPage + 2}&per_page=${itemsPerPage}`)= `${currentPage + 2}`


              li= `...`
              li
                a(class="px-4 py-2 text-zinc-950 rounded-lg" href=`/overview?page=${totalPages}&per_page=${itemsPerPage}`)= `${totalPages}`



          .dropdown(class="flex relative items-center")
            button.dropdownButton(class="block px-1 ") Show rows
            .coinsToShow(class="show px-1 py-1 m-1 rounded-lg bg-gray-100 cursor-pointer")
              span.rowValue=totalRows
              i.fa-solid.fa-chevron-down(class="ml-2") 
            .dropdownOptions(class= "dropdownOptions hidden px-2 py-2 top-full flex-col absolute  left-20 shadow-xl drop-shadow-xl rounded-lg bg-gray-200 ")
              button.option(class=" px-4 py-2 hover:bg-gray-100 rounded-lg") 5 
              button.option(class=" px-4 py-2 hover:bg-gray-100 rounded-lg") 10
              button.option(class=" px-4 py-2 hover:bg-gray-100 rounded-lg") 20
