extends base

block append head
  script(defer src="/js/bundled/index.js")



block content

  main.mainOverview(class="flex flex-col w-full self-center pt-16 mt-8")
    .introduction.flex.flex-col.items-center.bg-gradient-to-r.from-purple-400.to-blue-500.p-6.rounded-lg.shadow-md.mb-8.mx-4.gap-2
      h2(class="font-semibold text-4xl md:text-3xl lg:text-4xl text-white mb-2") Crypto List
      p(class=" font-semibold text-xl md:text-md lg:text-xl text-white mb-2") Leading the way with top trends, market insights, and up-to-date analytics.
      p(class=" font-semibold text-xl md:text-md lg:text-xl text-white mb-2")=`The global cryptocurrency market cap stands at ${globalData.totalMarketCap}, with a ${globalData.marketCapChangePercent.toFixed(2)}% change in the last 24 hours. Total trading volume is ${globalData.totalVolume}, and Bitcoin holds ${globalData.marketDominanceBtc.toFixed(2)}% market dominance.`
      p(class="mt-4 px-4 py-2 bg-white text-blue-500 font-bold rounded-lg shadow-md hover:bg-blue-500 hover:text-white transition-colors duration-300 ease-in-out cursor-pointer") Explore the market below


    .overviewAdditionalContainer(class="flex flex-col sm:flex-row p-3 justify-center gap-5 flex-wrap")

      // Trending Section
      .trending(class="flex flex-col sm:flex-row p-3 shadow-lg rounded-xl border-2 h-auto sm:h-48 w-full sm:w-96")
        div(class="coin flex flex-col gap-2 p-3 w-full justify-between")
          div(class="header flex flex-row items-center justify-between")
            h2(class="font-semibold text-xl font-medium text-black") Trending 🔥
            a(href="/trending-crypto" class="font-semibold text-md font-medium text-black flex flex-row gap-1 items-baseline text-black hover:text-blue-500")
              span View more
              i(class="fa-solid fa-chevron-right text-sm")

          each coin of fetchTrendingData
            div(class="coinContainerData flex flex-col sm:flex-row justify-between")
              div(class="mainInfo flex flex-col sm:flex-row items-center")
                div(class="image")
                  img(class="coin-image w-6 h-6 object-cover rounded-full" src=coin.thumb alt=coin.name)
                div(class="name ml-1 flex flex-col sm:flex-row")
                  p(class="text-gray-700 font-bold text-sm px-1")= coin.name
                  p(class="text-gray-400 font-semibold text-sm px-1")= coin.symbol
              div(class="values flex flex-col sm:flex-row items-center")
                div(class="percent")
                  p(class="changeValue text-gray-700 dark:text-moon-100 font-bold text-sm px-1")= `${coin.priceChangePercentage24h.toFixed(2)}%`


      // Volume and Capitalization Section
      .volumeCapitalization(class="flex flex-row sm:flex-row p-3 shadow-lg rounded-xl border-2 h-auto sm:h-48 w-full sm:w-96")
        div(class="coin flex flex-col p-3 w-full justify-between")
          div(class="header")
            h2(class="font-semibold text-xl font-medium text-black mb-4") Market Cap & Vol 🔥
          div(class="coinContainerData flex flex-row sm:flex-col justify-between")
            div(class="mainInfo flex flex-col sm:flex-row items-center justify-between gap-2 sm:gap-14")
              p(class="text-gray-700 font-bold text-md") Market cap
              p(class="text-gray-700 font-bold text-md") Volume 24h
            div(class="values flex flex-col sm:flex-row items-center justify-between gap-2 sm:gap-14")
              p(class="text-gray-700 dark:text-moon-100 font-bold text-sm px-1")= `$ ${globalData.totalMarketCap}`
              p(class="text-gray-700 dark:text-moon-100 font-bold text-sm px-1")= `$ ${globalData.totalVolume}`


      // Fear & Greed Section
      .fearGreed(class="flex flex-col sm:flex-row p-3 shadow-lg rounded-xl border-2 h-auto sm:h-48 w-full sm:w-96")
        div(class="coin flex flex-col p-3 w-full justify-between")
          div(class="header")
            h2(class="font-semibold text-xl font-medium text-black mb-1") Fear & Greed Index 🔥
          div(class="coinContainerData flex flex-col sm:flex-row justify-between items-center")
            div(class="fear-greed-index flex flex-col place-content-center w-full items-center")
              svg(width="210" height="70" viewBox="0 0 300 135" xmlns="http://www.w3.org/2000/svg")
                g(transform="translate(150, 135)") // This centers the speedometer around (150, 135)
                  g.arc
                    path(d="M-107.94971126755703,-3.2954267175996574A108,108,0,0,1,-78.66219144333746,-74.00175428550142L-55.736679624136755,-51.07624246630069A75.6,75.6,0,0,0,-75.5281415284987,-3.2954267175996588Z" fill="#f02934")
                    path(d="M-74.00175428550139,-78.66219144333748A108,108,0,0,1,-3.2954267175996614,-107.94971126755703L-3.295426717599662,-75.5281415284987A75.6,75.6,0,0,0,-51.07624246630068,-55.73667962413676Z" fill="#f07d29")
                    path(d="M3.295426717599675,-107.94971126755703A108,108,0,0,1,74.00175428550139,-78.66219144333749L51.07624246630068,-55.73667962413677A75.6,75.6,0,0,0,3.295426717599671,-75.5281415284987Z" fill="#9acd7a")
                    path(d="M78.66219144333749,-74.00175428550138A108,108,0,0,1,107.94971126755703,-3.295426717599666L75.5281415284987,-3.2954267175996654A75.6,75.6,0,0,0,55.73667962413677,-51.07624246630066Z" fill="#34b349")
                  g.speedometer-needle
                    path#needle-path(d="M -3.5 0 L 0 -90 L 3.5 0 Z" fill="#000")
                    circle(cx="0" cy="-4.05" r="8.1" fill="#464a4f")
              span(class="fear-greed-value font-bold text-gray-700" data-value=`${fearGreedValue[0].value}`)= `${fearGreedValue[0].classification}`
              span(class="fear-greed-classification text-md text-gray-700")= `Now: ${fearGreedValue[0].value}`



      // Coin Container


    .coin-container(class="flex flex-col p-4")
      // Table Container with horizontal scroll
      div(class="table-container-main w-full p-4 border-2 rounded-xl overflow-x-auto")
        table(class="min-w-full divide-y divide-gray-200")
          thead
            tr
              // Column for Index
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer" data-sort="index")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader #
              // Column for Icon and Name
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer" data-sort="name")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader Name
              // Column for Symbol
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer" data-sort="symbol")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader Price
              // Column for Price (Visible on larger screens)
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer" data-sort="1h")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader 1h
              // Hidden columns for smaller screens
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer hidden md:table-cell " data-sort="24h")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader 24h
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer hidden md:table-cell " data-sort="7d")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader 7d
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer hidden md:table-cell " data-sort="volume")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader 24h volume
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer hidden md:table-cell " data-sort="marketCap")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader Market cap
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer hidden md:table-cell " data-sort="last7Days")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader Last 7 days

          tbody(class="bg-white divide-y divide-gray-200")
            each coin, index in coins
              tr(class=" hover:bg-gray-100 transition")
                td(class="px-4 whitespace-nowrap")
                  i(data-coin-name=`${coin.name}` class="starIcon fa-regular fa-star starIcon w-5 h-5  text-gray-500 cursor-pointer")

                td(class="px-4 whitespace-nowrap")
                  p(class="text-gray-700 dark:text-moon-100 font-bold text-sm px-1 leading-5")= `${index + 1}`
                td(data-href=`/coin/${coin.id}`, class="px-1 py-1 cursor-pointer whitespace-nowrap")
                  .flex.items-center
                    img(class="coin-image w-6 h-6 object-cover rounded-full" src=coin.image alt=coin.name)
                    .flex.ml-4
                      p(class=`text-gray-700 dark:text-moon-100 font-bold text-sm px-1 leading-5`)= coin.name
                      p(class="text-gray-400 font-semibold text-sm leading-5")= `${coin.symbol.toUpperCase()}`
                td(class="px-4 whitespace-nowrap text-sm text-gray-500 font-medium")= `$${coin.current_price.toLocaleString()}`
                td(class="px-4 changeValue whitespace-nowrap text-sm text-gray-500 font-medium")= `${coin.price_change_percentage_1h_in_currency.toFixed(2)}%`
                // Hidden columns for smaller screens
                td(class="changeValue px-4 whitespace-nowrap text-sm text-gray-500 font-medium hidden md:table-cell")= `${coin.price_change_percentage_1h_in_currency.toFixed(2)}%`
                td(class="changeValue px-4 whitespace-nowrap text-sm text-gray-500 font-medium hidden md:table-cell")= `${coin.price_change_percentage_24h_in_currency.toLocaleString()}`
                td(class="changeValue px-4 whitespace-nowrap text-sm text-gray-500 font-medium hidden md:table-cell")= `${coin.price_change_percentage_7d_in_currency.toFixed(2)}%`
                td(class="px-4 whitespace-nowrap text-sm text-gray-500 font-medium hidden md:table-cell")= `$${coin.circulating_supply.toLocaleString()}`
                td(class="px-4 whitespace-nowrap text-sm text-gray-500 font-medium hidden md:table-cell")= `$${coin.market_cap.toLocaleString()}`
                td(class="px-4 whitespace-nowrap text-sm text-gray-500 font-medium w-48 h-20 hidden md:table-cell")
                  canvas(class="chartContainer" id=`chart-${coin.id}`)
                td(class="px-4 whitespace-nowrap text-sm text-gray-500 font-medium hidden md:table-cell")
          // Info Pagination and Dropdown Container


    .infoPagination(class="flex flex-col md:flex-row justify-between items-center p-4")

      // Showing text with responsive padding
      span(class="px-4 py-2 md:px-6 md:py-4 whitespace-nowrap text-sm text-gray-500")
        = `Showing ${(currentPage - 1) * itemsPerPage} to ${Math.min(currentPage * itemsPerPage, allCoin.length)} of ${allCoin.length} coins`

      // Pagination navigation with responsive spacing
      nav(class="inline-flex items-center space-x-2 md:space-x-1 rounded-lg")
        ul(class="pagination flex flex-wrap gap-2 md:gap-1")

          li
            a(class="px-3 py-2 text-zinc-950 rounded-lg hover:bg-gray-100" href=`/overview?page=1&per_page=${itemsPerPage}`)= 1

          if currentPage > 1
            li
              a(class="px-3 py-2 text-zinc-950 rounded-lg hover:bg-gray-100" href=`/overview?page=${currentPage - 1}&per_page=${itemsPerPage}`)= `${currentPage}`

          if currentPage < totalPages
            li
              a(class="px-3 py-2 text-zinc-950 rounded-lg hover:bg-gray-100 " href=`/overview?page=${currentPage + 1}&per_page=${itemsPerPage}`)= `${currentPage + 1}`
            li
              a(class="px-3 py-2 text-zinc-950 rounded-lg hover:bg-gray-100" href=`/overview?page=${currentPage + 2}&per_page=${itemsPerPage}`)= `${currentPage + 2}`

          li= `...`
          li
            a(class="px-3 py-2 text-zinc-950 rounded-lg hover:bg-gray-100" href=`/overview?page=${totalPages}&per_page=${itemsPerPage}`)= `${totalPages}`

      // Dropdown for showing rows with responsive adjustments
      div(class="dropdown flex relative items-center mt-4 md:mt-0")
        button(class="dropdownButton block px-3 py-2 md:px-4 md:py-2 text-sm md:text-base")
          | Show rows
        div(class="coinsToShow flex items-center px-3 py-2 md:px-4 md:py-2 m-1 rounded-lg bg-gray-100 cursor-pointer")
          span(class="rowValue text-sm md:text-base")= totalRows
          i(class="fa-solid fa-chevron-down ml-2 text-sm md:text-base")
        div(class="dropdownOptions hidden px-2 py-2 top-full flex-col absolute left-0 md:left-20 shadow-xl drop-shadow-xl rounded-lg bg-gray-200")
          button(class="option px-3 py-2 md:px-4 md:py-2 hover:bg-gray-100 rounded-lg text-sm md:text-base") 5
          button(class="option px-3 py-2 md:px-4 md:py-2 hover:bg-gray-100 rounded-lg text-sm md:text-base") 10
          button(class="option px-3 py-2 md:px-4 md:py-2 hover:bg-gray-100 rounded-lg text-sm md:text-base") 20

      // News Section

