extends base

block append head
  script(defer src="/js/bundled/index.js")



block content


  main.main

    h1(class="text-2xl font-bold mb-4")= title
    h1 Bitcoin Price Chart



    .coin-container(class="flex flex-col  p-4")
      h2.text-xl.font-semibold.mt-8.mb-4 CryptoCurrency list
        table.min-w-full.divide-y.divide-gray-200
          thead.bg-gray-50
            tr
              th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider Coin
              th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider Price (USD)
              th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider 1h
              th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider 24h
              th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider 7d
              th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider 24h volume
              th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider Market cap
              th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider Last 7 days
          tbody.bg-white.divide-y.divide-gray-200
            each coin in coins
              tr(data-href=`/coin/${coin.id}/usd`, class="cursor-pointer hover:bg-gray-100 transition")
                td.px-6.py-4.whitespace-nowrap
                  .flex.items-center
                    img.coin-image.w-10.h-10.object-cover.rounded-full(src=coin.image alt=coin.name)
                    .ml-4
                      div.text-sm.font-medium.text-gray-900= coin.name
                td.px-6.py-4.whitespace-nowrap.text-sm.text-gray-500= `$${coin.current_price.toLocaleString()}`
                td.px-6.py-4.whitespace-nowrap.text-sm.text-gray-500= `${coin.price_change_percentage_1h_in_currency.toFixed(2)}%`
                td.px-6.py-4.whitespace-nowrap.text-sm.text-gray-500= `${coin.price_change_percentage_24h_in_currency.toFixed(2)}%`
                td.px-6.py-4.whitespace-nowrap.text-sm.text-gray-500= `${coin.price_change_percentage_7d_in_currency.toFixed(2)}%`
                td.px-6.py-4.whitespace-nowrap.text-sm.text-gray-500= `$${coin.circulating_supply.toLocaleString()}`
                td.px-6.py-4.whitespace-nowrap.text-sm.text-gray-500= `$${coin.market_cap.toLocaleString()}`
                td.px-6.py-4.whitespace-nowrap.text-sm.text-gray-500
                  canvas(id=`chart-${coin.id}` class="w-24 h-24") 