extends base

block append head
  script(defer src="/js/bundled/index.js")



block content

  main.mainOverview(class="flex flex-col w-full self-center pt-16 mt-8")
    .introduction.flex.flex-col.items-center.bg-gradient-to-r.from-purple-400.to-blue-500.p-6.rounded-lg.shadow-md.mb-8.mx-4.gap-2
      h2(class="font-semibold text-4xl md:text-3xl lg:text-4xl text-white mb-2") Welcome to Your Crypto Portfolio
      p(class="font-semibold text-xl md:text-md lg:text-xl text-white mb-2") Stay ahead of the curve with your personalized cryptocurrency insights.
      p(class="font-semibold text-xl md:text-md lg:text-xl text-white mb-2") Track the latest trends, explore detailed analytics, and manage your favorite coins.
      p(class="mt-4 px-4 py-2 bg-white text-blue-500 font-bold rounded-lg shadow-md hover:bg-blue-500 hover:text-white transition-colors duration-300 ease-in-out cursor-pointer") Explore your portfolio below

    .coin-container(class="flex flex-col p-4")
      // Table Container with horizontal scroll
      div(class="table-container-main w-full p-4 border-2 rounded-xl overflow-x-auto")
        table(class="min-w-full divide-y divide-gray-200")
          thead
            tr
              // Column for Index
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer" data-sort="index")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader #
              // Column for Icon and Name
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer" data-sort="name")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader Name
              // Column for Symbol
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer" data-sort="symbol")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader Price
              // Column for Price (Visible on larger screens)
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer" data-sort="1h")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader 1h
              // Hidden columns for smaller screens
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer hidden md:table-cell " data-sort="24h")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader 24h
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer hidden md:table-cell " data-sort="7d")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader 7d
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer hidden md:table-cell " data-sort="volume")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader 24h volume
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer hidden md:table-cell " data-sort="marketCap")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader Market cap
              th(class="px-4 py-2 text-center text-xs font-bold text-gray-700 tracking-wider cursor-pointer hidden md:table-cell " data-sort="last7Days")
                .container.flex.flex-row.items-center.justify-center
                  span.icon
                  p.textHeader Last 7 days

          tbody(class="bg-white divide-y divide-gray-200")
            each coin, index in coins
              tr(class=" hover:bg-gray-100 transition")
                td(class="px-4 whitespace-nowrap")
                  p(class="text-gray-700 dark:text-moon-100 font-bold text-sm px-1 leading-5")= `${index + 1}`
                td(data-href=`/coin/${coin.id}` class="cursor-pointer px-1 py-1 whitespace-nowrap")
                  .flex.items-center
                    img(class="coin-image w-6 h-6 object-cover rounded-full" src=coin.image alt=coin.name)
                    .flex.ml-4
                      p(class="text-gray-700 dark:text-moon-100 font-bold text-sm px-1 leading-5")= coin.name
                      p(class="text-gray-400 font-semibold text-sm leading-5")= `${coin.symbol.toUpperCase()}`
                td(class="px-4 whitespace-nowrap text-sm text-gray-500 font-medium")= `$${coin.current_price.toLocaleString()}`
                td(class="px-4 changeValue whitespace-nowrap text-sm text-gray-500 font-medium")= `${coin.price_change_percentage_1h_in_currency.toFixed(2)}%`
                // Hidden columns for smaller screens
                td(class="changeValue px-4 whitespace-nowrap text-sm text-gray-500 font-medium hidden md:table-cell")= `${coin.price_change_percentage_1h_in_currency.toFixed(2)}%`
                td(class="changeValue px-4 whitespace-nowrap text-sm text-gray-500 font-medium hidden md:table-cell")= `${coin.price_change_percentage_24h_in_currency.toLocaleString()}`
                td(class="changeValue px-4 whitespace-nowrap text-sm text-gray-500 font-medium hidden md:table-cell")= `${coin.price_change_percentage_7d_in_currency.toFixed(2)}%`
                td(class="px-4 whitespace-nowrap text-sm text-gray-500 font-medium hidden md:table-cell")= `$${coin.circulating_supply.toLocaleString()}`
                td(class="px-4 whitespace-nowrap text-sm text-gray-500 font-medium hidden md:table-cell")= `$${coin.market_cap.toLocaleString()}`
                td(class="px-4 whitespace-nowrap text-sm text-gray-500 font-medium w-48 h-20 hidden md:table-cell")
                  canvas(class="chartContainer" id=`chart-${coin.id}`)
                td(class="px-4 whitespace-nowrap text-sm text-gray-500 font-medium hidden md:table-cell")
                  each slug in portfolioInfo
                    i(data-coin-slug=`${slug._id.toString()}` class=`deleteIcon fa-solid fa-trash  w-5 h-5  text-gray-500 cursor-pointer`)

