extends base


block content

  main.mainOverview(class="flex flex-col w-full self-center pt-16 mt-8")
    .introduction.flex.flex-col.items-center.gradient-bg.p-6.rounded-lg.shadow-md.mb-8.mx-4.gap-2
      h2(class="font-semibold text-4xl md:text-3xl lg:text-4xl text-primary-text-colorS mb-2") Explore the latest trending cryptocurrencies
      p(class=" font-semibold text-xl md:text-md lg:text-xl text-primary-text-colorS mb-2")=`updated with the most searched coins from the last 3 hours. Leading the trends right now are ${topCoins[0].name}, ${topCoins[1].name}, and ${topCoins[2].name}. Over the past 24 hours, ${topCoins[0].name} has seen a price increase of ${topCoins[0].price_change_percentage_24h_brl.toFixed(2)}%, ${topCoins[1].name} has risen by ${topCoins[1].price_change_percentage_24h_brl.toFixed(2)}%, and ${topCoins[2].name} by ${topCoins[2].price_change_percentage_24h_brl.toFixed(2)}%. `
      p(class=" font-semibold text-xl md:text-md lg:text-xl text-primary-text-colorS mb-2")=`Keep track of these top performers and stay ahead in the dynamic world of crypto!`


    .coin-container(class="flex flex-col p-4")
      // Table Container with horizontal scroll
      div(class="table-container-trending w-11/12 p-2 self-center overflow-x-auto bg-primary ")
        table(class="w-full divide-y divide-gray-200")
          thead(class="bg-background-third")

            tr
            // Column for Index
            th(class="px-2 py-1 text-center text-xs font-bold text-primary-text-color tracking-wider cursor-pointer" data-sort="index")
              .container.flex.flex-row.items-center.justify-center
                span.icon.mr-2
                p.textHeader #
            // Column for Icon and Name
            th(class="px-2 py-1 text-left text-xs font-bold text-primary-text-color tracking-wider cursor-pointer"  data-sort="name")
              .container.flex.flex-row.items-center
                span.icon.mr-2
                p.textHeader Name
            // Column for Symbol
            th(class="px-2 py-1 text-center text-xs font-bold text-primary-text-color tracking-wider cursor-pointer"  data-sort="price")
              .container.flex.flex-row.items-center.justify-center
                span.icon.mr-2
                p.textHeader price
            // Column for Price (Visible on larger screens)
            th(class="px-2 py-1 text-center text-xs font-bold text-primary-text-color tracking-wider hidden md:table-cell  cursor-pointer"  data-sort="24h")
              .container.flex.flex-row.items-center.justify-center
                span.icon.mr-2
                p.textHeader 24h
            // Column for 24h Change
            th(class="px-2 py-1 text-center text-xs font-bold text-primary-text-color tracking-wider hidden md:table-cell cursor-pointer"  data-sort="volume")
              .container.flex.flex-row.items-center.justify-center
                span.icon.mr-2
                p.textHeader Total volume
            // Column for Total Volume
            th(class="px-2 py-1 text-center text-xs font-bold text-primary-text-color tracking-wider hidden md:table-cell cursor-pointer"  data-sort="Market cap")
              .container.flex.flex-row.items-center.justify-center
                span.icon.mr-2
                p.textHeader Market cap
            // Column for Market Cap
            th(class="px-2 py-1 text-center text-xs font-bold text-primary-text-color tracking-wider hidden md:table-cell cursor-pointer"  data-sort="7days")
              .container.flex.flex-row.items-center.justify-center
                span.icon.mr-2
                p.textHeader Last 7 days


          tbody(class="bg-primary divide-y divide-divider-color")
            each coin in coins
              tr(data-href=`/coin/${coin.id}`, class="cursor-pointer hover:bg-background-third transition duration-150 ease-in-out")

                td(class="px-2  whitespace-nowrap text-center text-sm font-medium text-primary-text-color")= `${coin.market_cap_rank}`

                td(class="px-2  whitespace-nowrap ")
                  .flex.items-center
                    img(class="coin-image w-8 h-8 object-cover rounded-full" src=coin.thumb alt=coin.name)
                    .flex.ml-3.items-baseline
                      p(class="text-primary-text-color font-semibold text-sm px-1")= coin.name
                      p(class="text-secondary-text-color text-sm ")= `${coin.symbol.toUpperCase()}`

                td(class="px-2  whitespace-nowrap text-center text-sm text-primary-text-color font-medium")= `$${coin.price.toLocaleString()}`
                // Hidden columns for smaller screens
                td(class="changeValue px-2  whitespace-nowrap text-center text-sm text-primary-text-color font-medium hidden md:table-cell")= `${coin.price_change_percentage_24h_brl.toFixed(2)}%`
                td(class="px-2  whitespace-nowrap text-center text-sm text-primary-text-color font-medium hidden md:table-cell")= `${coin.total_volume.toLocaleString()}`
                td(class="px-2  whitespace-nowrap text-center text-sm text-primary-text-color font-medium hidden md:table-cell")= `${coin.market_cap.toLocaleString()}`
                td(class="px-2  whitespace-nowrap text-center text-sm text-primary-text-color font-medium w-48 h-20 hidden md:table-cell")
                  img(class="coin-image w-40 h-16 object-cover rounded-full" src=coin.sparkline alt=coin.name)
